{% extends 'products/base.html' %}

{% block title %}
Products List
{% endblock %}

{% block content %}
<h1>Products</h1>
<ul>
    {% if products %}
        {% for product in products %}
            <a href="{% url 'products:details' product_id=product.id %}">
                <li>
                    {{ product.desc }}
                    <a class="space-left" href="{% url 'products:update_product' product_id=product.id %}">
                        Edit
                    </a>
                    <a class="space-left" href="{% url 'products:delete_product' product_id=product.id %}">
                        Delete
                    </a>
                </li>
            </a>
        {% endfor %}
    {% else %}
        <h2><<< No products! Click "Add Product" link below to add a product! >>></h2>
        <hr>
    {% endif %}

</ul>

<h1>Create Product</h1>
<a href="{% url 'products:create_product' %}">Add Product</a>

{% endblock %}
